<%
	date_format = config.date_format || 'MMMM Do, YYYY';
%>

<% if(type == 'publish') { %>
	<%= __('publish_date') %>

	<a href="<%- url_for(post.path) %>" itemprop="url">
		<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
	  		<%= date(post.date, date_format) %>
	  </time>
	</a>
	&nbsp;
<% } %>

<% if(type == 'update') { %>
	<%= __('update_date') %>

	<a href="<%- url_for(post.path) %>" itemprop="url">
		<time datetime="<%= date_xml(post.date) %>" itemprop="dateUpdated">
	  		<%= date(post.updated, date_format) %>
	  </time>
	</a> 
<% } %>

<% if(type == 'common') { %>
	<a href="<%- url_for(post.path) %>" itemprop="url">
		<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
	  		<%= date(post.date, date_format) %>
	  </time>
	</a> 
<% } %>