<ul class="am-pagination">
    <% if (page.prev) { %>
    	<li class="am-pagination-prev">
   		<a class="pull-left" href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>">
      		&laquo; <%= __('prev_post') %>
		</a>
		</li>
	<% } %>
	<% if (page.next) { %>
		<li class="am-pagination-next">
		<a class="pull-right" href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>">
			<%= __('next_post') %> &raquo;
		</a>
		</li>
	 <% } %>
 </ul>
        