<% if(type == 'narrow-navigation') { %>
	<span>
		<a href="javascript: window.scrollTo(0, 0);"><%= __('to_top') %></a>
		<% if (page.prev) { %>
			<a href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>" rel="prev">
				&laquo;<%= __('prev_post') %>
			</a>
		<% } %>
		<% if (page.next) { %>
			<a href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>" rel="next">
				<%= __('next_post') %>&raquo;
			</a>
		<% } %>	
	</span>
<% } %>

<% if(type == 'wide-navigation') { %>
	<ul class="pagination-2">
		<% if (page.prev) { %>
			<li class="pagination-2-prev">
			<a class="pull-left" href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>">
				&laquo; <%= __('prev_post') %>
			</a>
			</li>
		<% } %>
		<% if (page.next) { %>
			<li class="pagination-2-next">
			<a class="pull-right" href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>">
				<%= __('next_post') %> &raquo;
			</a>
			</li>
		<% } %>
	</ul>	
<% } %>    