<!--
	作者：Sariay
	时间：2018-09-25
	描述：There may be a bug, but don't worry, QiLing(器灵) says that it can work normally!
-->
<!DOCTYPE html>
<html class="html-loading">
		<%- partial('_partial/head',{cache: true}) %>
	<body>
		<%- partial('_partial/header',{cache: true}) %>
			
		<!--main-->
		<main>
			<%- body %>
		</main>

		<!--footer-->
		<%- partial('_partial/footer',{cache: true}) %>
		<%- partial('_partial/footer-after',{cache: true}) %>
	</body>	
</html>