<!--
	时间：2018-11-08
	描述：The archive module refers to 'https://1984n.win/archives-post/' & 'http://1900.live/one-theme/', include js、css. Relevant rights reserved by them! 
-->
<div class="layout-archive">
    <div class="i-container">
        <i class="fa fa-book">
			<%- partial('post-number') %>
		</i>
    </div>

    <!-- Archive by year, display in page( archive ) -->
    <div id="layout-archive-year" style="display: 
        <% if(is_archive()){ %>         	
            block">        
        <% } %>
        
        <ul>
            <% site.posts.sort('date', 'desc').each(function(post) { %>
                <li>
                    <a href="<%- url_for(post.path) %>">
            			<em year="<%- post.date.year() %>">
                            <%- post.date.format('MM-DD') %>
                        </em>
        			    <span itemprop="name">
                            <%= post.title %>
                        </span>
        			    <% post.tags.forEach(function(tag, i){ %>
                			<a href="<%- url_for(tag.path) %>" class="tag">
                				<%= tag.name %>
                			</a>
                        <% }) %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>

     <!-- Archive by month, called by page( categories, tags... ) -->
    <div id="layout-archive-month" style="display: 
        <% if(is_archive()) { %> 
            none"> 
        <% } else { %> 
            block"> 
        <% } %>

        <% var last_year, last_month; %>
        <% page.posts.each(function(post, i){ %>
            <% 
                var year = post.date.year(),
                    month = post.date.format('MM'); 
                if (last_year != year){ 
                    if (last_year != null){ 
                        last_month = null; 
                    } 
                    last_year = year; 
                } 
            %>

            <% if (!last_month || last_month != month) {%>
                <% last_month = month; %>
                <h3 class="archive-year">
                    <!-- <a href="<%- url_for(config.archive_dir + '/' + year + '/' + month) %>"> -->
                    <a>
                        <%= year %> - <%=  month %>
                    </a>
                </h3>
            <% } %>

            <ul>
                <li>
                    <a href="<%- url_for(post.path) %>">
                        <em>
                            <%- post.date.format('MM-DD') %>
                        </em>
                        <span itemprop="name">
                            <%= post.title %>
                        </span>
                        <% post.tags.forEach(function(tag, i){ %>
                            <a href="<%- url_for(tag.path) %>" class="tag">
                                <%= tag.name %>
                            </a>
                        <% }) %>       
                    </a>
                </li>
            </ul>
        <% }); %>
    </div>

    <% if(is_tag() || is_category()){ %>
        <%- partial('paginator', {type: "pageLoading"}) %>
    <% } %>
</div>