<!-- Preloader -->
<% 
	if(theme.preloader.enable) { 
		const animation = theme.preloader.animation;
%>
	<div id="preloader">
		<div class="pre-container">
			<% if( animation == 'spinner' ) { %>
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			<% } else if( animation == 'transition' ){ %>
				<div class="transition">
					<div class="three-bounce1"></div>
					<div class="three-bounce2"></div>
					<div class="three-bounce3"></div>
				</div>
			<% } else { %>
				<div class="cyclic">
					<div><span></span></div>
					<div><span></span></div>
					<div><span></span></div>
					<div><span></span></div>
				</div>
			<%}%>			
		</div>
	</div>
<% 
	} 
%>

<!-- header -->
<header class="fixbackground" data-img-mode="<%= theme.background_image.mode %>" data-normal-src="<%- url_for(theme.background_image.normal_url) %>" data-random-max="<%= theme.background_image.random_max %>" data-random-src="<%- url_for(theme.background_image.random_url) %>">
	<div class="mask">
		<!-- Logo and navigation -->
		<div class="h-header">
			<div id="logo">
				<a href="/">
					<% if(theme.logo) { %>	
						<%- image_tag(theme.logo, {alt: 'Logo'}) %>
					<% } else { %>
						<%= theme.title || config.title %>
					<% } %>
				</a>
			</div>
			
			<div id="navigation-show">
				<%- partial('nav') %>
			</div>				
		</div>

		<!-- motto -->
		<div class="h-body">	
			<% if(theme.motto.enable) { %>
				<p class="motto"></p>
			<% } %>
		</div>
		
		<!-- others: such as time... -->			
		<div class="h-footer">
			<a href="javascript:;" id="read-more"><i class="fa fa-angle-double-down" aria-hidden="true"></i>
			</a>

			<% if(theme.timejs.enable) { %>
				<%- partial('widget/time-js') %>
			<% } %>
		</div>
	</div>
</header>

<div id="navigation-hide">
	<!-- Progress bar -->
	<div id="progress-bar"></div>

	<!-- Progress percent -->
	<div id="progress-percentage"><h1>0.0%</h1></div>

	<div class="toc-switch"><span class="switch-button"><%= __('toc_switch') %></span></div>

	<!-- Page title -->
	<p>
		<% if( is_home() ) { %>
			<%= __('home') %>
		<% } else if ( is_archive() ) { %>
			<%= __('archive_a') %>
		<% } else if( is_current('categories/index.html') ) { %>
			<%= __('categories') %>
		<% } else if( is_current('tags/index.html') ) { %>
			<%= __('tags') %>
		<% } else if( is_post() ) { %>
			<%= __('current_post') %>&nbsp;:&nbsp;《<%= page.title %>》
		<% } else { %>
			<%= page.title %>
		<% } %>
	</p>

	<!-- Nav trigger for navigation-H-->
	<a class="nav-trigger"><span></span></a>
</div>

<!-- Navigation in div(id="navigation-H") -->
<nav class="nav-container" id="cd-nav">
	<div class="nav-header">
		<h3>Navigation</h3>
		<a href="javascript:;" class="nav-close"></a>
	</div>
	<div class="nav-body">
		<%- partial('nav') %>
	</div>
	<div class="nav-footer">
		<%- partial('footer-social') %>
	</div>
</nav>