<%
  var pagetitle = page.title;

  if (is_home()) 
  {
    pagetitle = config.title;
  }
  else if (is_archive())
  {
    pagetitle = __('archive_a'); 
    if (is_month())
    {
      pagetitle += ': ' + page.year + '/' + page.month;
    } 
    else if (is_year())
    {
      pagetitle += ': ' + page.year;
    }
  } 
  else if (is_category())
  {
    pagetitle = __('category') + ': ' + page.category;
  } 
  else if (is_tag())
  {
    pagetitle = __('tag') + ': ' + page.tag;
  }
%>

<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>
    <% if( pagetitle === config.title ) { %>
      <%= config.title %>
    <% } else { %>
      <%= pagetitle + ' ' + '|' + ' ' + config.title %>
    <% } %>
  </title>
  <meta name="author" content="<%= config.author %>">
  <meta name="keywords" content="<%= config.keywords %>" />
  <meta name="description" content="<%= config.subtitle %>" />
	<!-- favicon -->
  <%- favicon_tag(theme.favicon) %>

  <!-- css -->
  <%- 
  	css([		
        'css/Annie.css'
  		])
  %>
  
  <!-- jquery -->
	<%- js(['plugin/jquery/jquery.min.js'])%>

<script>
    const CONFIG_BGIMAGE = {
      mode: '<%= theme.background_image.mode %>',
      normalSrc: '<%- url_for(theme.background_image.normal_url) %>',
      randomYouMax: <%= theme.background_image.random_you_max %>,
      randomYouSrc: '<%- url_for(theme.background_image.random_you_url) %>',
	  randomOtherSrc: '<%- url_for(theme.background_image.random_other_url) %>',
	  preloaderEnable: <%= theme.preloader.enable %>
    }
	
    const CONFIG_LEACLOUD_COUNT = {
      enable: <%= theme.leancloud_count.enable %>,
	  appId: '<%= theme.leancloud_count.appid %>',
	  appKey: '<%= theme.leancloud_count.appkey %>',
	  serverURLs: '<%= theme.leancloud_count.serverURLs %>' || ' '
    }
  </script>
</head>