<div class="layout-pure">
	<div id="layout-pure">	
	<% page.posts.each( function( post ) { %>
		<div class="post" id="post">
			<div class="post-text">
				<div class="post-title" id="post-title-index">			
					<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					<%- partial('post/title', {post: post}) %>
				</div>

				<div class="post-content">
					<% if(post.content) { %>
						<%- truncate(strip_html(post.content), {length: theme.excerpt_pure, omission: '...'}) %>
					<% } else { %>
						<!--没有文章内容-->
						<%= __('no_content') %>
					<% } %>
				</div>
				
				<div class="post-meta">
					<span>
						<%= __('publish_date') %>
						<i>
							<%- partial('post/date', {post: post, date_format: null, type: 'common'}) %>
						</i>
					</span>
					
					<%- partial('post-like',{post: post}) %>
					<%- partial('plugin/statistics', {type: 'leancloud-count'}) %>
					<% if (theme.excerpt_link){ %>
						<span class="right">      	
							<%- link_to(post.path, __('view_all'), {external: false}) %>	
						</span>
					<% } %>
				</div>
			</div>
		</div>
	<% }); %>
	</div>

	<%- partial('paginator', {type: "infiniteLoading"}) %>
</div>