<div class="layout-page-header">

	<% if (page.type === "tags") { %>

		<i class="fa fa-pencil-square-o"><%= __('total') %> <%= site.tags.length %> <%= __('ge') %> <%= __('tag_tags') %></i>

	<% } else if (page.type === "categories") { %>

		<i class="fa fa-pencil-square-o"><%= __('total') %> <%= site.categories.length %> <%= __('ge') %> <%= __('category_categories') %></i>

	<% } else { %>

		<%= page.title %>

	<% } %>
	
</div>