<% if( is_home() && type == "infiniteLoading" ) { %>
	<div id="pagination">
		<% if (page.total > 1 && page.next_link){ %>
			<a href="<%- url_for(page.next_link) %>" data-title="<%= __('load_more') %>" data-status="<%= __('load_end') %>"><%= __('load_more') %></a>
		<% } %>
	</div>
<% } %>
	
<% if( type == "pageLoading" ){ %>
	<% if (page.total > 1){ %>
		<ul class="pagination-2">
			<% if (page.prev) { %>
				<li class="pagination-2-prev">
					<a href="<%- url_for(page.prev_link) %>">&laquo; <%= __('prev') %> </a>
				</li>
			<% } %>
			
			<% if (page.next) { %>
				<li class="pagination-2-next">
					<a href="<%- url_for(page.next_link) %>"> <%= __('next') %> &raquo; </a>
				</li>
			<% } %>
		</ul>
	<% } %>
<% } %>