<%- partial('plugin/toc', {post: post}) %> 

<div class="layout-post">
	<div id="layout-post">
	<div class="article-title">
		<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
		<%- partial('post/title', {post: post}) %>
	</div>

	<div class="article-meta">
		<span>
			<i class="fa fa-calendar"></i>
			<%- partial('post/date', {post: post, type: 'publish'}) %>
			<%- partial('post/date', {post: post, type: 'update'}) %>
		</span>
		<span>
			<i class="fa fa-tags"></i>
			<%- partial('post/tag', {post: post}) %>		
		</span>
		
		<%- partial('post-like') %>
	</div>

	<div class="article-content" id="article-content">
		<%- post.content %>	
	</div>
	
	<div id="current-post-cover" data-scr="<%- url_for(post.cover || theme.cover) %>"></div>

	<!-- relate post, comment...-->
	<div class="investment-container">
		<div class="investment-header">
			<div class="investment-title-1">
				<div class="on"><%= __('related_posts') %></div>
				<div><%= __('comment') %></div>
				<div><%= __('share') %></div>
			</div>
			<div class="investment-title-2">	            
				<%- partial('post/navigation', {type: 'narrow-navigation'}) %>  		
			</div>	
		</div>
		
		<div class="investment-content">
			<div class="investment-content-list">
				<%- partial('post-relate') %>	
			</div>
			<div class="investment-content-list">
				<%- partial('plugin/comment') %>
			</div>
			<div class="investment-content-list">
				<%- partial('plugin/share') %>
			</div>
		</div>	
	</div>
	</div>
</div>

<%- partial('plugin/statistics', {type: 'leancloud-count'}) %>

<%- partial('plugin/mathjax', {post: post}) %>

<%- partial('plugin/clipboard', {post: post, type: "code-copy"}) %>

<%- partial('post/gallery', {post: post}) %>