<div class="layout-post">
	<% 
		permalink = config.url + config.root + post.path 
	%>
	
	<div class="article-title">
		<%- partial('post/title', {post: post}) %>
	</div>

	<div class="article-meta">
		<span>
			<%- partial('post/date', {post: post, date_format: null}) %>
		</span>
		<%= __('split_line')%>
		<span>
			<i class="fa fa-tags"></i>
			<%- partial('post/tag', {post: post}) %>		
		</span>
		<%= __('split_line') %>
		<%- partial('post-like') %>
	</div>

	<div class="article-content" id="article-content">
		<%- post.content %>	
	</div>
	
	<div id="current-post-cover" data-scr="<%- url_for(post.cover || theme.cover) %>"></div>

	<!-- relate post, comment...-->
	<div class="investment-container">
		<div class="investment-header">
			<div class="investment-title-1">
				<div class="on"><%= __('related_posts') %></div>
				<div><%= __('comment') %></div>
			</div>
			<div class="investment-title-2">	            
				<%- partial('post/navigation', {number: 0}) %>  		
			</div>	
		</div>
		
		<div class="investment-content">
			<div class="investment-content-list">
				<%- partial('post-relate') %>	
			</div>
			<div class="investment-content-list">
				<%- partial('third/comment') %>
			</div>
		</div>	
	</div>
</div>

<%- partial('third/statistics', {module: 'leancloud'}) %>

<%- partial('third/math', {post: post}) %>

<%- partial('post/code-copy', {post: post}) %>

<!-- TODO: There seems to be a bug when you close the post gallery! -->
<%- partial('post/gallery', {post: post}) %>

<%- partial('widget/toc', {post: post}) %>