<% 
	const lean = theme.leancloud_count; 
%>
<% if( lean.enable && lean.visit_post.enable ){ %>
	
    <span class="leancloud_visitors" id="<%- url_for(post.path) %>_visitors" data-url="<%- url_for(post.path) %>" data-title="<%- post.title %>">
       	<i class="fa fa-eye"></i>
       	<%= __('hits') %>
        <i class="leancloud_visitors_count" id="leancloud_visitors_count">0</i>
    </span>
    
<% } %>

<% if( lean.enable && lean.like_post.enable ){ %>
	
    <span class="leancloud_likes" id="<%- url_for(post.path) %>_likes" data-url="<%- url_for(post.path) %>" data-title="<%- post.title %>" rel="unlike">
        <i class="fa fa-heart"></i>
        <%= __('likes') %>
        <i class="leancloud_likes_count" id="leancloud_likes_count">0</i>
    </span>
<% } %>